{% extends "simplemaster.html" %}
<html>
    {% block head_title %}Login page{% endblock %}
    <body>
     {% block content %}
        <form method="post"  action="{% url 'login' %}">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="panel panel-default">
                
                <div class="panel-heading text-center">Login</div>
                
                <div class="panel-body">
                        <div class="control-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" id="username" name="username"  placeholder="Username">
                           
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="Password">
                           
                        </div>
                    
                        <br>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary btn-md">Login</button>
                        </div>
                  </div>
            </div>
   
        </form>
      {% endblock %}
    </body>
</html>