/* The CSS that's required to position the elements */	   
 
html
{
 /* position: absolute;
  height: 100%;*/

}
   body
   {
   /*background-color: #efefef;*/
      margin: 0;
      padding:0;
      background-color: #eee;
   }

#header
{
 position: relative; 
 /*height: 5%;*/
 padding:2px;
 width: 100%;
 height:30px;
 background-color: #5f5f5f;
/* border-bottom: 3px solid Green;*/
color:  white;
}
#headerdetails
{
 position: relative; 
 /*height: 5%;*/
 padding:2px;
 width: 100%;
 background-color: #dedede;
/* border-bottom: 3px solid Green;*/
display:none;
color:#4D4DB8;
}

#holder            	  
{
/* padding: 10px;
 padding-top:35px;*/
 margin:20px;
 margin-top:55px;
 background-color: #fff;
 height:90%;
}
@media (max-width: 768px) {
    #holder {
      margin-top: 240px;
    }
  }
.displayNone           	  
{
  display:none;
}
.loadingGif           	  
{
 
  width:55px;
  height:55px;
  background-image: url('/static/loading.gif');
  
}
.processingContent{
   background-color: #fff;
  /* padding-top:5px;
   padding-bottom:5px;*/
   box-shadow: 0 0 10px 10px #444;/*#9CC1E6;#FFDEAD;*/
}
#processingDialog
{

}
.menu           	  
{
  background-color: #f8f8f8;
  border-right:1px solid #d5d5d5;
  height:100%;
  
 /*border-bottom: 3px solid Red;*/
}
#content            	  
{
 /*position: absolute; 
 min-height:100px;
 height: 85 
left:20%;
 width: 80%;*/
 background-color: #fff;
 /*border:1px solid #e1e1e1;
 border-left:none;*/
 height:100%;
 /*border-bottom: 3px solid Red;*/
}

#footer
{
 position: relative;
 height:5%;
 min-height:50px;
 bottom: 0;
background-color: purple;
border-top: 3px solid Yellow;  
}

.headerlink
{
  
  
}