{% load staticfiles %}



<html>
    <head>
        <title>{% block head_title %}Welcome to my blog{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'Css/master.css' %}" />
    
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-27063178-1']);
            _gaq.push(['_trackPageview']);
    
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
        
    </head>
    <body>
        <div id="header">
            {% block header %}

            {% endblock %}
        </div>
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}

            {% endblock %}
        </div>
       
    </body>
</html>
