<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Katalyo</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class=""> Home</span></a></li>
            <li class=""><a href="#">Feedback</a></li>
        </ul>
       
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class=""> Settings</span></a>
            
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">My details</a></li>
                    <li><a href="#">My groups</a></li>
                    <li><a href="#">My organisation</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Favorites</a></li>
                    <li class="divider"></li>
                    <li> <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li> 
                </ul>
            </li>
           
      </ul>
    </div>
  </div>
  
</nav>